@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: rgb(215, 220, 226);
  font-family: "Montserrat" sans-serif;
  font-weight: 300;
}

.header {
  background-color: #333;
  padding: 25px 100px;
  font-weight: 600;
}

main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}

aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}

main .user {
  margin-bottom: 50px;
  background-color: rgb(19, 90, 90);
  padding: 20px;
}

main .delete-icon {
  float: right;
  color: aquamarine;
  cursor: pointer;
  transform: scale(2);
}

main .edit-icon {
  float: right;
  margin-right: 25px;
  color: #d0dadd;
  cursor: pointer;
  transform: scale(2);
}

main .delete-icon:hover,
main .edit-icon:hover {
  opacity: 0.5;
}

form input:not([type="checkbox"]),
form textarea,
form button {
  width: 90%;
  padding: 15px 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
  background: #111;
  color: azure;
  outline: none;
  font-size: 15px;
}

form input[type="checkbox"] {
  margin: 10px;
}

form button {
  width: 100%;
  cursor: pointer;
  transition: transform 500ms ease;
}

form button:hover {
  transform: scale(1.1);
}

.user form {
  margin-top: 20px;
}

.user form input,
.user form textarea,
.user form button {
  background: #032930;
}

.user form button:hover {
  transform: scale(1.01);
}
